.login {
    font-family: 'Oswald';
    font-size: 16px;
    padding-bottom: 15px;
}

.box {
    background-color: var(--dark-grey);
    border-radius: 30px;
}

.box-login {
    padding: 75px 160px 48px 48px;
    text-align: left;
}

.box-register {
    max-width: 750px;
    text-align: left;
}

.logo-login {
    width: 320px;
    height: 275px;
}

.box-animation-base {
    height: 900px;
    border-radius: 30px;
    padding: 30px 50px 30px 30px;
    box-shadow: 5px 5px 19px 4px #404040;
    overflow: hidden;
}

.expand-animation {
    animation: expand 1s;
}

.collapse-animation {
    animation: collapse 1s;
}

@keyframes expand {
    0% {
        height: 0;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        height: 860px;
    }
}

@keyframes collapse {
    0% {
        height: 860px;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0px;
    }
}

.input,
textarea,
input,
select {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: var(--beige);
    color: var(--dark-grey);
    outline: none;
}

label {
    font-family: 'Oswald';
    text-transform: uppercase;
    display: block;
}

textarea,
input,
select {
    font-weight: lighter;
    font-family: 'Oswald';
    background-color: #F5C796;
}

textarea:hover,
input:hover,
select:hover {
    background-color: #f3dac0;
}

.commentInput{
    background-color: var(--light-grey);
    color: var(--beige);
}

.commentInput:hover{
    background-color: var(--dark-grey);
}

.commentInput::placeholder{
    color: var(--beige)
}

.input-h {
    height: 88px;
}

.form-btn {
    border-radius: 25px;
    border: none;
    padding: 6px;
    background-color: var(--beige);
    font-family: 'Oswald';
    min-width: 150px;
    transition: 0.5s ease;
}

.form-btn:hover {
    border-radius: 15px;
    background-color: var(--yellow);
    transition: 0.5s ease;
}

.save-btn {
    border-radius: 15px;
    border: none;
    padding: 6px;
    background-color: var(--beige);
    font-family: 'Oswald';
    transition: 0.5s ease;
}

.save-btn:hover {
    border-radius: 10px;
    background-color: var(--yellow);
    transition: 0.5s ease;
}

.bean-btn {
    width: 25px;
}

.pad-bot-20 {
    padding-bottom: 20px;
}

.error {
    color: rgb(238, 37, 37);
}

fieldset {
    border: 2px solid var(--yellow);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.meetup-expand {
    animation: meetupexpand 1s;
}

.meetup-collapse {
    animation: meetupcollapse 1s;
}

@keyframes meetupexpand {
    0% {
        height: 0;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        height: 390px;
    }
}

@keyframes meetupcollapse {
    0% {
        height: 390px;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0px;
    }
}

.fz-responsive {
    font-size: 30px;
}

.show-comment-form {
    display: block !important;
}

.comment-btn{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--dark-grey);
    transition: all 0.3s ease;
}

.comment-btn:hover{
    background-color: var(--beige);
    transition: all 0.3s ease;
}

.bulle{
    width: 22px;
}

@media screen and (max-width: 1200px) {
    .fz-responsive {
        font-size: 26px;
    }
}

@media screen and (max-width: 1000px) {
    .fz-responsive {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .box-login {
        padding: 20px;
    }
    .mobile_margin {
        margin-top: 0 !important;
        padding: 30px;
    }
    .box-animation-base {
        height: auto;
        padding: 15px 35px 15px 15px;
    }
    .fz-responsive {
        font-size: 26px;
    }
}