p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
}

body {
    background: linear-gradient(180deg, rgba(38, 38, 38, 1), transparent), url(../../src/img/fond_cafe.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.container-100vh {
    min-height: 70vh;
    height: 100%;
}

.vh100 {
    min-height: 100vh;
}

.vhLogin {
    min-height: 90vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    height: max-content;
}


/* COULEURS */

:root {
    --beige: #f5c796;
    --yellow: #d98b48;
    --dark-grey: #262626;
    --light-grey: #404040;
}

.beige {
    color: var(--beige);
}

.yellow {
    color: var(--yellow);
}

.dark-grey {
    color: var(--dark-grey);
}

.light-grey {
    color: var(--light-grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.grey-to-lightgrey {
    background: rgb(38, 38, 38);
    background: -moz-linear-gradient(133deg, rgba(38, 38, 38, 1) 17%, rgba(52, 52, 52, 1) 64%, rgba(64, 64, 64, 1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(38, 38, 38, 1) 17%, rgba(52, 52, 52, 1) 64%, rgba(64, 64, 64, 1) 100%);
    background: linear-gradient(133deg, rgba(38, 38, 38, 1) 17%, rgba(52, 52, 52, 1) 64%, rgba(64, 64, 64, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#262626", endColorstr="#404040", GradientType=1);
}

.grey-to-yellow {
    background: -moz-linear-gradient(26.53% 154.41% 55deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -webkit-linear-gradient(55deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -webkit-gradient(linear, 26.53% 154.41%, 73.47% -54.41%, color-stop(0, rgba(38, 38, 38, 1)), color-stop(0.4001, rgba(40, 39, 38, 1)), color-stop(0.5442, rgba(47, 43, 40, 1)), color-stop(0.647, rgba(58, 50, 42, 1)), color-stop(0.7301, rgba(75, 59, 45, 1)), color-stop(0.8012, rgba(97, 72, 49, 1)), color-stop(0.8642, rgba(125, 87, 54, 1)), color-stop(0.9212, rgba(157, 105, 61, 1)), color-stop(0.9719, rgba(193, 126, 67, 1)), color-stop(1, rgba(217, 139, 72, 1)));
    background: -o-linear-gradient(55deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -ms-linear-gradient(55deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#D98B48' ,GradientType=0)";
    background: linear-gradient(35deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#D98B48', GradientType=1);
}

.yellow-to-dk-grey {
    background: -moz-linear-gradient(136.18% 76% 145deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -webkit-gradient(linear, 136.18% 76%, -36.18% 24%, color-stop(0, rgba(38, 38, 38, 1)), color-stop(0.4001, rgba(40, 39, 38, 1)), color-stop(0.5442, rgba(47, 43, 40, 1)), color-stop(0.647, rgba(58, 50, 42, 1)), color-stop(0.7301, rgba(75, 59, 45, 1)), color-stop(0.8012, rgba(97, 72, 49, 1)), color-stop(0.8642, rgba(125, 87, 54, 1)), color-stop(0.9212, rgba(157, 105, 61, 1)), color-stop(0.9719, rgba(193, 126, 67, 1)), color-stop(1, rgba(217, 139, 72, 1)));
    background: -o-linear-gradient(145deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    background: -ms-linear-gradient(145deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#D98B48' ,GradientType=0)";
    background: linear-gradient(-55deg, rgba(38, 38, 38, 1) 0%, rgba(40, 39, 38, 1) 40.01%, rgba(47, 43, 40, 1) 54.42%, rgba(58, 50, 42, 1) 64.7%, rgba(75, 59, 45, 1) 73.01%, rgba(97, 72, 49, 1) 80.12%, rgba(125, 87, 54, 1) 86.42%, rgba(157, 105, 61, 1) 92.12%, rgba(193, 126, 67, 1) 97.19%, rgba(217, 139, 72, 1) 100%);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#D98B48', GradientType=1);
}

.light-hover:hover {
    background-color: #292929;
}

.under-shadow {
    box-shadow: 0px 15px 10px -15px #111;
}


/* FONTS */

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.875rem;
    text-transform: uppercase;
    color: var(--beige);
    text-align: center;
}

h2 {
    font-family: "Zen Old Mincho", serif;
    font-size: 2.25rem;
}

h3 {
    font-family: "Oswald";
    font-size: 1.875rem;
}

h4,
.h4 {
    font-family: "Oswald";
    font-size: 1.5rem;
}

h5 {
    font-family: "Oswald";
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.p,
p {
    font-family: "Oswald";
    font-size: 1rem;
    font-weight: lighter;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ft-w-100 {
    font-weight: 100;
}

.meetup div:nth-of-type(2n+1) {
    color: var(--beige);
}

.meetup div:nth-of-type(2n) {
    color: var(--yellow);
}

.meetup div:first-child {
    margin-top: -5px;
}

.meetup-passed {
    color: red;
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.fz-24 {
    font-size: 2.4rem;
}

.fz-20 {
    font-size: 20px;
}

.fz-14 {
    font-size: 14px;
}


/* margin */

.margin-left-50 {
    margin-left: 50%;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-tb-50 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-l-200 {
    margin-left: 200px;
}

.m-t-45 {
    margin-top: 45px;
}


.m-t-75 {
    margin-top: 85px;
}


.m-lr-35 {
    margin-left: 35px;
    margin-right: 35px;
}


.m-t-35 {
    margin-top: 35px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-85 {
    margin-top: 85px;
}

.p-t-150 {
    padding-top: 150px;
}

.m-r-95 {
    margin-right: 95px;
}

.p-35 {
    padding: 35px;
}

.w-avatar-profile {
    width: 120px;
    align-self: baseline;
}

.w-beanPoint-profile {
    max-width: 35px;
}

.line-height {
    line-height: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: var(--beige);
}

.overflow-hidden {
    overflow: hidden;
}

.footer {
    margin-top: 15px;
    margin-bottom: -1rem;
    justify-content: center;
    background-color: var(--dark-grey);
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--beige);
}

.logo-footer {
    width: 90px;
    padding: 20px;
}

.friend-container {
    width: 100%;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.hover-orange {
    border-radius: 10px;
    cursor: pointer;
    transition: .7s ease;
    background-color: none;
}

.hover-orange:hover {
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
    background-color: var(--yellow);
}

.meetup {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
}

.cut-text-140 {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
}

.cut-text-180 {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;
    white-space: nowrap;
}

.cut-text-280 {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
    white-space: nowrap;
}

.cut-text-420 {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 420px;
}

hr {
    border-top: 1px solid var(--yellow);
}

.bg-gray {
    border-radius: 20px;
    background-color: #1a1a1a;
}