.beanlogo-1{
    fill: var(--beige);
}

.beanlogo-2{
    fill: var(--yellow);
    animation: coffeeMediaTypo 3s infinite ease-in-out;
}

.beanlogo-3{
    fill: var(--yellow);
    animation: line1 3s infinite;
}

.beanlogo-4{
    fill: var(--yellow);
    animation: line2 3s infinite;
}

.beanlogo-5{
    fill: var(--yellow);
    animation: line3 3s infinite;
}

.beanlogo-6{
    fill: var(--yellow);
    animation: coffeeMediaContainer 3s infinite;
}


@keyframes coffeeMediaTypo {
    0%{
        fill: var(--beige);
    }
    50%{
        fill: var(--yellow);
        box-shadow: white 0px 0px 5px 5px;
    }
    100%{
        fill: var(--beige);
    }
}

@keyframes coffeeMediaContainer {
    0%{
        fill: var(--beige);
    }
    50%{
        fill: #ecd5bc;
    }
    100%{
        fill: var(--beige);
    }
}

@keyframes line1 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes line2 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes line3 {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}