.nav_title {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    color: var(--yellow);
    font-weight: 300;
    font-size: 50px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--beige);
    font-weight: lighter;
    padding: 25px 50px;
}

.link {
    color: var(--beige);
    font-weight: lighter;
    padding: 25px 0px;
    font-family: 'Oswald';
    font-size: 18px;
    text-transform: uppercase;
}

.link:hover {
    color: var(--yellow);
}

nav {
    text-align: center;
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;
    min-width: 100%;
    border-bottom: var(--light-grey);
    border-top: var(--light-grey);
}

navbar-nav {
    padding: 50px 0;
}

.nav-item {
    display: block;
    position: relative;
    padding: 0.4em 0.4em;
    transition: 1s;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    left: 50%;
    background-color: var(--yellow);
    opacity: 0;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
}

.nav-item:hover::after {
    opacity: 1;
    transform: scale(1);
    width: 100%;
    transform-origin: center;
    left: 0;
}

.form_search {
    align-self: center;
}

.form-control::placeholder {
    color: var(--dark-grey);
    font-weight: lighter;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--beige);
    font-weight: lighter;
    color: var(--dark-grey);
    transition: .5s;
}

.form-control:hover {
    background-color: var(--yellow);
    transition: .5s;
}

.hover-yellow:hover {
    background-color: var(--yellow);
    transition: .5s;
}

.form-control {
    background-color: var(--beige);
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    font-weight: lighter;
    padding-right: 38px;
}

[type=search] {
    outline-offset: none;
    -webkit-appearance: inherit;
}

.mobile_nav {
    display: none;
}

.desktop_nav {
    display: flex;
}

.desktop_modal {
    display: block;
}

.logo-nav {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .mobile_nav {
        display: block;
    }
    .desktop_nav {
        display: none;
    }
    .desktop_modal {
        display: none;
    }
    .nav_title {
        padding: 30px 0;
        font-size: 34px;
    }
    .link {
        padding: 0 0 0.5rem 0;
    }
    .sticky {
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .sticky>a {
        background-color: var(--dark-grey);
        padding: 1rem 0.5rem;
    }
}

.search-glass {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -35px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}