.Actualite {
    margin-bottom: 10px;
}

.act-posts-container {
    width: 100%;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
}

.post-animation-container {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.post-animation {
    transform-style: preserve-3d;
    transform: rotateX(90deg);
    transition: transform 1s;
}

.post-animation-show {
    transform: rotateX(0deg);
}

.meetup {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
    background-color: red;
}

.meetup-feed {
    padding: 35px 35px 65px 35px;
    width: 100%;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
}

.mu-icons {
    width: 40px;
    padding: 0 10px 0 10px;
}

.scroller {
    width: 100%;
    max-height: 270px;
    overflow-y: scroll;
    overflow: hidden;
    scrollbar-color: var(--dark-grey) var(--light-grey);
    scrollbar-width: thin;
}

.scroller-meetup {
    max-height: 325px;
}

.scroller:hover {
    overflow: auto;
}

.scroll4::-webkit-scrollbar {
    width: 8px;
}

.scroll4::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
}

.comment-date {
    font-size: 0.8em;
    font-weight: normal;
    color: #d19764;
}

.w-avatar-post {
    width: 60px;
}

.emblem-post {
    width: 60px;
}