.profil-infos-container {
    width: 100%;
    padding: 35px;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
}

.profil-posts-container {
    width: 100%;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.5);
}

.profil-posts-title {
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 15px 10px -15px #111;
}

.border-r {
    border-right: 1px solid var(--dark-grey);
}

.toggle-btn-left {
    border-radius: 20px 0 0 0;
    width: 50%;
    cursor: pointer;
    padding: 25px;
    transition: 0.5s;
}

.toggle-btn-right {
    border-radius: 0 20px 0 0;
    width: 50%;
    cursor: pointer;
    padding: 25px;
    transition: 0.5s;
}

.toggle-btn-middle {
    width: 50%;
    cursor: pointer;
    padding: 25px;
    transition: 0.5s;
}

.toggle-btn-left:hover,
.toggle-btn-middle:hover,
.toggle-btn-right:hover {
    background-color: var(--dark-grey);
    transition: 0.5s;
}

.toggle-btn-left:active,
.toggle-btn-middle:active,
.toggle-btn-right:active {
    background-color: var(--dark-grey);
}

.deletemodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.deleteProfile {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.remove-friend {
    display: none;
}

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 120px;
}

.modal-deleteProfil-content {
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 220px;
}

.dropdown-btn {
    border-radius: 25px;
    border: none;
    padding: 0px 8px;
    background-color: var(--beige) !important;
    font-family: 'Oswald';
    transition: 0.5s ease;
}

.dropdown-btn:hover {
    border-radius: 15px;
    background-color: var(--yellow) !important;
    transition: 0.5s ease;
}

.dropdown-item:active,
.dropdown-item:hover {
    color: var(--beige);
    text-decoration: none;
    background-color: var(--dark-grey);
}

.dropdown-menu {
    min-width: 1rem;
    border-radius: 10px;
}

.dropdown-toggle::after {
    content: "...";
    border: none;
}

.emblem-modal{
    width: 200px;
}