.search-container{
    width: 100%;
    border-radius: 20px;
}

.beanlisthover:hover{
    border-radius: 20px;
    cursor: pointer;
    background-color: #404040;
}

.modal{
    background-color: var(--dark-grey);
}

.profil-modal-container{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
    overflow: hidden;
}

.profil-modal {
    z-index: 2;
    transform-style: preserve-3d;
    perspective: 500000px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalcard{
    transform-style: preserve-3d;
}

@keyframes profil-modal-animation {
    0% {
        filter: blur(3px);
        left: 25%;
        top: 40%;
        right: 25%;
        bottom: 40%;
    }
    100% {
        filter: blur(0);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.profil-modalcontent{
    transform-style: preserve-3d;
    width: 650px;
    background-color: var(--dark-grey);
    border-radius: 15px;
    padding: 35px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
}

.btn-close{
    position: absolute;
    right: -5px;
    top: -30px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profil-modalcontent{
        width: 250px;
    }
}